.dialogUser {
    border-bottom: 1px solid silver;
}

.dialogUser:hover {
    background-color: silver;
}

.dialogUser:last-of-type {
    border-bottom: none;
}

.dialogUser div {
    text-align: left;
}

.dialogUser a {
    padding: 10px 5px;
    color: black;
    display: flex;
    text-decoration: none;
}

.dialogUser img {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
}

.status {
    color: rgb(117, 117, 117);
    font-size: 14px;
}

.active {
    border-left: 5px solid green;
    background-color: rgb(218, 226, 233);
}