.dialog {
    display: grid;
    grid-template-columns: 40% 60%;
}

.dialogUser a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    padding: 20px 10px;
    display: flex;
    text-align: left;
}

.dialogUser a.active {
    background-color: rgb(220, 220, 200);
    border-left: 3px solid green;
}

.dialogUser img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.messages {
    padding: 15px;
}

.message {
    text-align: left;
    display: flex;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text {
    padding: 0 10px;
    font-weight: bold;
}

.text div {
    font-weight: normal;
}