.myPost {
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.postInput {
    height: 50px;
    width: 90%;
    border: 1px solid silver;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

.userImg {
    width: 70px;
}

.postList {
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: white;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .myPost {
        grid-template-columns: 35% 65%;
    }
}